Repository UoaWDCC/uasc-web: changes, and which lefthook commands are due for each by the changed paths.
All: lint, prettier

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm lint -- {staged_files}
    prettier:
      glob: "*.{js,jsx,ts,tsx,json,css,scss,md}"
      run: pnpm prettier --write {staged_files} && git add {staged_files}

feat: update Dockerfile to modify entrypoint script path and permissions
  Dockerfile
Due: none

feat: integrate New Relic monitoring with Docker setup and entrypoint script
  .github/cd-actions/deploy-server/action.yml
  .github/workflows/cd-pipeline.yml
  Dockerfile
  pnpm-lock.yaml
  server/entrypoint.sh
  server/package.json
Due: prettier

feat: update Dockerfile to change entrypoint script path and make it executable
  Dockerfile
Due: none

feat: update Dockerfile to copy entrypoint script and set it as the entrypoint
  Dockerfile
Due: none

feat: make entrypoint script executable in Dockerfile
  Dockerfile
Due: none

feat: add New Relic secrets to Docker Compose and update action.yml for environment variables
  .github/cd-actions/deploy-server/action.yml
  docker-compose.yml
Due: none

feat: update Dockerfile and entrypoint script for New Relic integration
  Dockerfile
  server/entrypoint.sh
Due: none

feat: update entrypoint to run New Relic setup and application server in Dockerfile
  Dockerfile
  server/setup-newrelic.sh
Due: none

feat: update action.yml to simplify New Relic environment variable handling
  .github/cd-actions/deploy-server/action.yml
Due: none

feat: clean up action.yml by removing unnecessary whitespace
  .github/cd-actions/deploy-server/action.yml
Due: none

feat: update pnpm-lock.yaml to adjust New Relic client version specifiers
  pnpm-lock.yaml
Due: none

902 devops setup new relic for backend express application monitoring (#906)
  .github/cd-actions/deploy-server/action.yml
  .github/workflows/cd-pipeline.yml
  Dockerfile
  docker-compose.yml
  pnpm-lock.yaml
  server/entrypoint.sh
  server/package.json
Due: prettier

build: deprecate cloudflare/pages-action for cloudflare/wrangler-action
  .github/workflows/deploy-client-production.yml
Due: none

build: add biomejs for formatting
  package.json
  pnpm-lock.yaml
Due: prettier

chore: add .husky to .gitignore
  .gitignore
Due: none

chore: add biome configuration file
  biome.json
Due: prettier

feat: add biome formatter settings for typescript
  .zed/settings.json
Due: prettier

refactor: fix biome lint errors
  biome.json
  client/.storybook/main.ts
  client/src/app/about/page.tsx
  client/src/app/admin/bookings/page.tsx
  client/src/app/admin/events/page.tsx
  client/src/app/admin/layout.tsx
  client/src/app/login/LoginInner.tsx
  client/src/app/login/utils/Handlers.tsx
  client/src/app/profile/page.tsx
  client/src/app/register/[step]/RegisterInner.tsx
  client/src/app/register/layout.tsx
  client/src/app/sections/AboutSection.tsx
  client/src/app/sections/PricingSection.tsx
  client/src/components/composite/Admin/AdminAvailabilityView/AdminAvailabilityView.tsx
  client/src/components/composite/Admin/AdminAvailabilityView/WrappedAdminAvailabilityView.tsx
  client/src/components/composite/Admin/AdminBookingHistoryView/AdminBookingHistoryItem.tsx
  client/src/components/composite/Admin/AdminBookingHistoryView/AdminBookingHistoryView.tsx
  client/src/components/composite/Admin/AdminBookingView/AdminBookingCreationPopUp.tsx
  client/src/components/composite/Admin/AdminEventView/AdminAllEvents/AdminAllEvents.tsx
  client/src/components/composite/Admin/AdminEventView/AdminEventForm/AdminEventForm.test.tsx
  client/src/components/composite/Admin/AdminEventView/AdminEventForm/AdminEventForm.tsx
  client/src/components/composite/Admin/AdminMemberView/AdminUserCreation/AdminUserCreationModal.story.tsx
  client/src/components/composite/Admin/AdminNavbar/AdminNavbar.tsx
  client/src/components/composite/Booking/BookingCreation/BookingCreation.test.tsx
  client/src/components/composite/BookingsPolicyTabs/TabsContent.tsx
  client/src/components/composite/Contact/Contact.tsx
  client/src/components/composite/EventsView/EventsView.tsx
  lefthook.yml
  server/src/service-layer/controllers/PaymentController.ts
  server/src/service-layer/controllers/SignupController.ts
  server/src/service-layer/controllers/StripeWebhook.ts
  server/src/service-layer/controllers/UserController.ts
  server/tooling/remove-newlines.ts
  server/tooling/update-google-sheet-members.ts
Due: lint, prettier

chore: migrate from eslint/prettier to biome
  .eslintrc
  .prettierignore
  .prettierrc
  client/.eslintrc
  client/package.json
  package.json
  pnpm-lock.yaml
Due: prettier

build: deprecate cloudflare/pages-action for cloudflare/wrangler-action (#907)
  .github/workflows/deploy-client-production.yml
Due: none

build: add wrangler as a dev dependency
  client/package.json
  pnpm-lock.yaml
Due: prettier

build: add wrangler as a dev dependency (#910)
  client/package.json
  pnpm-lock.yaml
Due: prettier

chore: remove wrangler from client package.json
  client/package.json
  package.json
  pnpm-lock.yaml
Due: prettier

chore: reinstall modules
  pnpm-lock.yaml
Due: none

fix: move wrangler from client package to main workspace (#911)
  client/package.json
  package.json
  pnpm-lock.yaml
Due: prettier

chore: migrate configuration from ESLint/Prettier to Biome
  .gitignore
  .idea/biome.xml
  .idea/externalDependencies.xml
  .vscode/settings.json
  lefthook.yml
Due: prettier

chore: update lefthook configuration to use Prettier and lint commands directly
  lefthook.yml
Due: none

chore: update settings for Biome formatter and add recommendations
  .vscode/settings.json
Due: prettier

chore: update settings for Biome and add extension recommendations
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier

install wrangler in pnpm setup step
  .github/workflows/deploy-client-production.yml
Due: none

remove wrangler from package.json
  package.json
  pnpm-lock.yaml
Due: prettier

fix: specify wrangler version in deployment configuration
  .github/workflows/deploy-client-production.yml
Due: none

Fix wrangler not found (#912)
  .github/workflows/deploy-client-production.yml
  package.json
  pnpm-lock.yaml
Due: prettier

fix: remove environment specification from wrangler action in deployment config
  .github/workflows/deploy-client-production.yml
Due: none

fix: remove environment specification from wrangler action in deployment config (#913)
  .github/workflows/deploy-client-production.yml
Due: none

feat: add PortableTextRenderer for consistent rich text styling and replace direct PortableText usage
  biome.json
  client/src/app/bookings/page.tsx
  client/src/components/utils/PortableTextRenderer.tsx
Due: lint, prettier
