Repository UoaWDCC/uasc-web: changes, and which lefthook commands are due for each by the changed paths.
All: lint, prettier

lint:
  run: pnpm biome lint {staged_files}

prettier:
  run: pnpm biome format --write {staged_files} && git add {staged_files}

docs: add JSDoc comments to PortableTextRenderer for usage and props clarification
  client/src/components/utils/PortableTextRenderer.tsx
Due: lint, prettier

refactor: remove unnecessary text color class from policy information rendering
  client/src/app/bookings/page.tsx
Due: lint, prettier

chore: update biome config to restrict only PortableText import from @portabletext/react and clarify allowed usage in renderer
  biome.json
  client/src/components/utils/PortableTextRenderer.tsx
Due: lint, prettier

feat: add PortableTextRenderer for consistent rich text styling and replace direct PortableText usage (#914)
  biome.json
  client/src/app/bookings/page.tsx
  client/src/components/utils/PortableTextRenderer.tsx
Due: lint, prettier

feat: extend PortableTextRenderer with additional block and mark support and add Storybook examples
  client/src/app/bookings/page.tsx
  client/src/components/utils/PortableTextRender/PortableTextRenderer.story.tsx
  client/src/components/utils/PortableTextRender/PortableTextRenderer.tsx
Due: lint, prettier

feat: extend PortableTextRenderer with additional block and mark support and add Storybook examples (#915)
  client/src/app/bookings/page.tsx
  client/src/components/utils/PortableTextRender/PortableTextRenderer.story.tsx
  client/src/components/utils/PortableTextRender/PortableTextRenderer.tsx
Due: lint, prettier

fix: prevent unnecessary re-renders in PortableTextRenderer by wrapping with React.memo
  client/src/components/utils/PortableTextRender/PortableTextRenderer.tsx
Due: lint, prettier

fix: prevent unnecessary re-renders in PortableTextRenderer by wrapping with React.memo (#916)
  client/src/components/utils/PortableTextRender/PortableTextRenderer.tsx
Due: lint, prettier

fix: prevent excessive re-renders in BookingContext by memoizing callbacks and context value
  client/src/components/composite/Booking/BookingContext.tsx
Due: lint, prettier

fix: prevent excessive re-renders in BookingContext by memoizing callbacks and context value (#917)
  client/src/components/composite/Booking/BookingContext.tsx
Due: lint, prettier

fix: persist boolean field values in profile edit modals and improve accessibility of close button
  client/src/components/composite/Profile/ProfileEdit/ProfileEdit.test.tsx
  client/src/components/composite/Profile/ProfileEdit/ProfileEdit.tsx
Due: lint, prettier

fix: persist boolean field values in profile edit modals and improve accessibility of close button (#918)
  client/src/components/composite/Profile/ProfileEdit/ProfileEdit.test.tsx
  client/src/components/composite/Profile/ProfileEdit/ProfileEdit.tsx
Due: lint, prettier

fix: initialize booking stage state directly from search params to prevent stale default value
  client/src/components/composite/Booking/BookingInformationAndCreation/BookingInformationAndCreation.tsx
Due: lint, prettier

fix: prevent redundant session fetch in booking layout when clientSecret is present
  client/src/app/bookings/layout.tsx
  client/src/components/generic/PaymentComponent/PaymentForm.tsx
Due: lint, prettier

fix: prevent stage flickering by initializing booking stage from search params outside useState
  client/src/components/composite/Booking/BookingInformationAndCreation/BookingInformationAndCreation.tsx
Due: lint, prettier

HOT: fix bookings flickering due to infinite loop fetching client secret (#919)
  client/src/app/bookings/layout.tsx
  client/src/components/generic/PaymentComponent/PaymentForm.tsx
Due: lint, prettier

fix: align Stripe dependencies to use tilde version range for consistent patch updates
  client/package.json
  pnpm-lock.yaml
Due: prettier

fix: rethrow error after logging in getIdToken to ensure proper error handling
  server/tooling/update-google-sheet-members.ts
Due: lint, prettier

fix: update service account secret for Google Sheets members update job
  .github/workflows/update_google_sheet_members.yml
Due: none

Fix members update job (#920)
  .github/workflows/update_google_sheet_members.yml
  server/tooling/update-google-sheet-members.ts
Due: lint, prettier

fix: use secret for REDIRECT_MEMBERS_GOOGLE_SHEET_LINK in CD pipeline configuration
  .github/workflows/cd-pipeline.yml
Due: none

fix: update verify job condition to run only on successful check_changes result in CI pipeline
  .github/workflows/ci-pipeline.yml
Due: none

fix: enhance verify job condition to ensure all checks pass before execution
  .github/workflows/ci-pipeline.yml
Due: none

fix: use secret for REDIRECT_MEMBERS_GOOGLE_SHEET_LINK in CD pipeline configuration (#921)
  .github/workflows/cd-pipeline.yml
Due: none

fix: update FAQItem key to use category for improved rendering
  client/src/components/composite/FAQ/FAQPanel/FAQPanel.tsx
Due: lint, prettier

feat: add FAQ page with dynamic FAQ items and categories
  client/sanity.config.ts
  client/sanity/schema.ts
  client/src/app/about/faq/page.tsx
  client/src/components/composite/FAQ/FAQ.story.tsx
  client/src/components/composite/FAQ/FAQ.tsx
  client/src/components/composite/FAQ/FAQPanel/FAQPanel.story.tsx
  client/src/components/composite/FAQ/FAQPanel/FAQPanel.tsx
  client/src/components/composite/Navbar/Navbar.test.tsx
  client/src/components/composite/Navbar/Navbar.tsx
  client/src/components/composite/Navbar/utils/LoginIndicator.tsx
  client/src/components/composite/Navbar/utils/ProfileButton.tsx
  client/src/components/generic/FAQItem/FAQItem.story.tsx
  client/src/components/generic/FAQItem/FAQItem.tsx
  client/src/models/sanity/FAQItem/Schema.ts
  client/src/models/sanity/FAQItem/Utils.ts
Due: lint, prettier

feat: implement FAQ categories with dynamic rendering and update related components
  client/package.json
  client/sanity.config.ts
  client/sanity/schema.ts
  client/src/app/about/faq/page.tsx
  client/src/components/composite/FAQ/FAQ.story.tsx
  client/src/components/composite/FAQ/FAQ.tsx
  client/src/components/composite/FAQ/FAQPanel/FAQPanel.story.tsx
  client/src/components/composite/FAQ/FAQPanel/FAQPanel.tsx
  client/src/models/sanity/FAQCategory/Schema.ts
  client/src/models/sanity/FAQCategory/Utils.ts
  client/src/models/sanity/FAQItem/Schema.ts
  client/src/models/sanity/FAQItem/Utils.ts
  pnpm-lock.yaml
Due: lint, prettier

fix: add type annotation for date parameter in tileDisabled function
  client/src/components/generic/Calendar/Calendar.story.tsx
Due: lint, prettier

Create faq page (#923)
  client/package.json
  client/sanity.config.ts
  client/sanity/schema.ts
  client/src/app/about/faq/page.tsx
  client/src/components/composite/FAQ/FAQ.story.tsx
  client/src/components/composite/FAQ/FAQ.tsx
  client/src/components/composite/FAQ/FAQPanel/FAQPanel.story.tsx
  client/src/components/composite/FAQ/FAQPanel/FAQPanel.tsx
  client/src/components/composite/Navbar/Navbar.test.tsx
  client/src/components/composite/Navbar/Navbar.tsx
  client/src/components/composite/Navbar/utils/LoginIndicator.tsx
  client/src/components/composite/Navbar/utils/ProfileButton.tsx
  client/src/components/generic/Calendar/Calendar.story.tsx
  client/src/components/generic/FAQItem/FAQItem.story.tsx
  client/src/components/generic/FAQItem/FAQItem.tsx
  client/src/models/sanity/FAQCategory/Schema.ts
  client/src/models/sanity/FAQCategory/Utils.ts
  pnpm-lock.yaml
Due: lint, prettier

fix: make server deployment manual by updating workflow condition
  .github/workflows/cd-pipeline.yml
Due: none

fix: make server deployment manual by updating workflow condition (#924)
  .github/workflows/cd-pipeline.yml
Due: none

feat: add composite action for client deployment with Firebase and Cloudflare (#1)
  .github/cd-actions/deploy-client/action.yml
  .github/workflows/ci-pipeline.yml
  .github/workflows/deploy-client-production.yml
  .github/workflows/deploy-client-staging.yml
Due: none

feat: update action.yml to use inputs for Cloudflare API token and account ID (#2)
  .github/cd-actions/deploy-client/action.yml
Due: none

Add environment for scheduled jobs (#3)
  .github/workflows/prune-cloudflare-deployments.yml
  .github/workflows/update_google_sheet_members.yml
Due: none

fix: move environment variables to the update step in Google Sheets workflow
  .github/workflows/update_google_sheet_members.yml
Due: none

docs: update README to redirect to new repository and acknowledge contributors
  README.md
Due: prettier

docs: update README to redirect to new repository and acknowledge contributors (#929)
  README.md
Due: prettier

Path conditions:
  lint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,css,scss,md}
