Repository UoaWDCC/uasc-web: changes, and which lefthook commands are due for each by the changed paths.
All: lint, prettier, ts-check

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: yarn eslint {staged_files}
    prettier:
      glob: "*.{js,jsx,ts,tsx,json,css,scss,md}"
      run: yarn prettier --write {staged_files} && git add {staged_files}
    ts-check:
      glob: "*.{ts,tsx}"
      run: yarn tsc --noEmit
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

chore: remove lint-staged configuration from package.json
  package.json
Due: prettier

870 devops setup lefthook for pre commit lints + prettier (#878)
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: prettier

Create LICENSE
  LICENSE
Due: none

Create CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier

Create LICENSE (#886)
  LICENSE
Due: none

Create CONTRIBUTING.md (#887)
  CONTRIBUTING.md
Due: prettier

feat: add not-in-production script to prevent lefthook installation in non-production environments
  package.json
  scripts/not-in-production.ts
Due: lint, prettier, ts-check

feat: add scripts directory to Dockerfile for improved build process
  Dockerfile
Due: none

feat: rename not-in-production script to skip-in-production for clarity
  package.json
  scripts/not-in-production.ts
  scripts/skip-in-production.ts
Due: lint, prettier, ts-check

refactor: remove conditional check for prettier job in CI pipeline
  .github/workflows/ci-pipeline.yml
Due: none

docs: update contributing guidelines for clarity and formatting
  CONTRIBUTING.md
Due: prettier

feat: add not-in-production script to prevent lefthook installation in non-production environments (#885)
  .github/workflows/ci-pipeline.yml
  CONTRIBUTING.md
  Dockerfile
  package.json
  scripts/skip-in-production.ts
Due: lint, prettier, ts-check

feat: add admin endpoints and data models for mail config and email templates
  server/src/business-layer/services/MailService.ts
  server/src/data-layer/models/mailConfig.ts
  server/src/data-layer/services/MailConfigService.ts
  server/src/middleware/__generated__/routes.ts
  server/src/middleware/__generated__/swagger.json
  server/src/middleware/tests/AdminController.test.ts
  server/src/service-layer/controllers/AdminController.ts
  server/src/service-layer/request-models/MailConfigRequests.ts
  server/src/service-layer/response-models/MailConfigResponse.ts
Due: lint, prettier, ts-check

feat: centralize mail config and email templates collection names and update Firestore access to use singleton config
  server/src/data-layer/adapters/CollectionNames.ts
  server/src/data-layer/adapters/FirestoreCollections.ts
  server/src/data-layer/services/MailConfigService.ts
Due: lint, prettier, ts-check

feat: add OpenAPI schema for mail config and email templates admin endpoints
  client/src/models/__generated__/schema.d.ts
  server/src/middleware/tests/AdminController.test.ts
Due: lint, prettier, ts-check

test: add integration tests for MailConfigService and email template operations
  server/src/data-layer/adapters/FirestoreCollections.ts
  server/src/data-layer/models/MailConfig.ts
  server/src/data-layer/services/MailConfigService.test.ts
  server/src/data-layer/services/MailConfigService.ts
  server/src/middleware/tests/AdminController.test.ts
  server/src/service-layer/request-models/MailConfigRequests.ts
  server/src/service-layer/response-models/MailConfigResponse.ts
Due: lint, prettier, ts-check

test: remove timestamp update test for email template updates
  server/src/data-layer/services/MailConfigService.test.ts
Due: lint, prettier, ts-check

feat: add encryption for mail config password and refactor admin mail endpoints
  server/src/data-layer/services/MailConfigService.test.ts
  server/src/data-layer/services/MailConfigService.ts
  server/src/middleware/tests/AdminController.test.ts
  server/src/service-layer/controllers/AdminController.ts
  server/src/service-layer/response-models/MailConfigResponse.ts
Due: lint, prettier, ts-check

update routes
  client/src/models/__generated__/schema.d.ts
  server/src/middleware/__generated__/routes.ts
  server/src/middleware/__generated__/swagger.json
Due: lint, prettier, ts-check

test: remove success property assertions from admin controller tests
  server/src/middleware/tests/AdminController.test.ts
Due: lint, prettier, ts-check

chore: add MAIL_ENCRYPTION_KEY to environment type definitions
  server/src/data-layer/environment.d.ts
Due: lint, prettier, ts-check

fix: improve error responses in AdminController for email template operations
  server/src/service-layer/controllers/AdminController.ts
Due: lint, prettier, ts-check

chore: add MAIL_ENCRYPTION_KEY to .env.example for configuration clarity
  server/.env.example
Due: none

feat: implement EncryptionService for secure mail configuration handling
  server/.env.example
  server/src/business-layer/services/EncryptionService.test.ts
  server/src/business-layer/services/EncryptionService.ts
  server/src/data-layer/services/MailConfigService.test.ts
  server/src/data-layer/services/MailConfigService.ts
  server/src/service-layer/controllers/AdminController.ts
Due: lint, prettier, ts-check

fix: update parameter documentation in fetch booking history method
  server/src/service-layer/controllers/AdminController.ts
Due: lint, prettier, ts-check

feat: integrate EncryptionService into MailConfigService for enhanced security
  server/src/business-layer/services/EncryptionService.ts
  server/src/middleware/tests/AdminController.test.ts
Due: lint, prettier, ts-check

feat: integrate EncryptionService into MailService for secure email handling
  server/src/business-layer/services/MailService.ts
  server/src/middleware/__generated__/swagger.json
Due: lint, prettier, ts-check

fix: remove unnecessary hyphens from parameter documentation in schema
  client/src/models/__generated__/schema.d.ts
Due: lint, prettier, ts-check

refactor: replace status codes with http-status-codes package in controllers and tests
  client/package.json
  client/src/services/User/UserService.ts
  pnpm-lock.yaml
  server/package.json
  server/src/middleware/tests/AdminController.test.ts
  server/src/middleware/tests/BookingController.test.ts
  server/src/middleware/tests/EventController.test.ts
  server/src/middleware/tests/PaymentController.test.ts
  server/src/middleware/tests/SignupController.test.ts
  server/src/middleware/tests/StripeWebhook.test.ts
  server/src/middleware/tests/UserController.test.ts
  server/src/service-layer/controllers/BookingController.ts
  server/src/service-layer/controllers/EventController.ts
  server/src/service-layer/controllers/PaymentController.ts
  server/src/service-layer/controllers/SignupController.ts
  server/src/service-layer/controllers/StripeWebhook.ts
  server/src/service-layer/controllers/UserController.ts
Due: lint, prettier, ts-check

Update server/src/service-layer/controllers/PaymentController.ts
  server/src/service-layer/controllers/PaymentController.ts
Due: lint, prettier, ts-check

Update server/src/service-layer/controllers/UserController.ts
  server/src/service-layer/controllers/UserController.ts
Due: lint, prettier, ts-check

Update server/src/service-layer/controllers/BookingController.ts
  server/src/service-layer/controllers/BookingController.ts
Due: lint, prettier, ts-check

Update server/src/service-layer/controllers/EventController.ts
  server/src/service-layer/controllers/EventController.ts
Due: lint, prettier, ts-check

feat: adds https server to production
  Dockerfile
  docker-compose.yml
  server/src/index.ts
Due: lint, prettier, ts-check

refactor: update status codes to use http-status-codes package in controllers and tests
  server/src/middleware/tests/AdminController.test.ts
  server/src/service-layer/controllers/AdminController.ts
  server/src/service-layer/controllers/PaymentController.ts
Due: lint, prettier, ts-check

refactor: update status codes to use http-status-codes package in controllers and tests
  server/src/service-layer/controllers/EventController.ts
  server/src/service-layer/controllers/PaymentController.ts
  server/src/service-layer/controllers/UserController.ts
Due: lint, prettier, ts-check

feat: adds https secrets to deploy server action
  .github/cd-actions/deploy-server/action.yml
  .github/workflows/cd-pipeline.yml
  server/src/data-layer/environment.d.ts
Due: lint, prettier, ts-check

build: update server to use http or https
  server/src/index.ts
Due: lint, prettier, ts-check

build: copy scripts folder to app directory
  .github/cd-actions/deploy-server/action.yml
Due: none
